<ul class='sd-lnotes'>
{% for entry in include.notes %}
    {% if entry.status == 'WIP' %}
        {% assign sclass = 'class="sd-wip"' %}
    {% else %}
        {% assign sclass = '' %}
        <li {{ sclass }}>
            <span class="courseno">{{entry.courseno}}</span>: 
        <span class="title">
            {{ entry.title }}</span>, {{ entry.term }}
        <span class="links">
            {% if entry.notes %}
              [<a href="{{ entry.notes | prepend: '/assets/pdf/lecture_notes/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">notes</a>]
            {% endif %}
        </span>
        {% if entry.instructor %}
            <div class="instructor">Taught by {{ entry.instructor }}.</div>
        {% endif %}
    
        {% if entry.comment %}
            <div class="comment">{{ entry.comment }}</div>
        {% endif %}
        </li>
    {% endif %}
{% endfor %}
</ul>

<!-- Move <li>...</li> out of the if statement to un-hide WIP notes-->