<ul class='sd-papers'>
{% for entry in include.papers %}
<li>
<span class="title">
    {{ entry.title }}
</span>
<span class="links">
  {% if entry.arxiv %}
    [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
  {% endif %}

  {% if entry.html %}
    [<a href="{{ entry.html }}" target="_blank">HTML</a>]
  {% endif %}
  {% if entry.pdf %}
    [<a href="{{ entry.pdf | prepend: '/assets/pdf/papers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">pdf</a>]
  {% endif %}
  {% if entry.supp %}
    [<a href="{{ entry.supp | prepend: '/assets/pdf/papers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">pdf</a>]
  {% endif %}
  {% if entry.code %}
    [<a href="{{ entry.code }}" target="_blank">code</a>]
  {% endif %}
  {% if entry.website %}
    [<a href="{{ entry.website }}" target="_blank">website</a>]
  {% endif %}
  {% if entry.poster %}
    [<a href="{{ entry.poster | prepend: '/assets/pdf/papers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">poster</a>]
  {% endif %}
  {% if entry.abstract %}
    [<a href="{{ entry.abstract }}" target="_blank">abstract</a>]
  {% endif %}
  {% if entry.slides %}
    [<a href="{{ entry.slides | prepend: '/assets/pdf/papers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">slides</a>]
  {% endif %}
  {% if entry.slideshare %}
    [<a href="{{ entry.slideshare }}" target="_blank">slides</a>]
  {% endif %}
</span>
{% if entry.coauthors %}
    <div class="author">
        with {{ entry.coauthors }}
    </div>
{% endif %}
{% if entry.pub %}
    <div class="publication">
        <em>{{ entry.pub }}</em>
    </div>
{% endif %}
{% if entry.notes %}
    <div class="publication">
        <em>{{ entry.notes }}</em>
    </div>
{% endif %}
</li>
{% endfor %}
</ul>