<ul class='sd-papers'>
{% for entry in include.papers %}
<li>
<div class="title">
    {{ entry.title }}
</div>
{% if entry.coauthors %}
    <div class="author">
        with {{ entry.coauthors }}
    </div>
{% endif %}
{% if entry.pub %}
    <div class="publication">
        <em>{{ entry.pub }}</em>
    </div>
{% endif %}
<span class="links">
    {% if entry.arxiv %}
      [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
    {% endif %}

    {% if entry.html %}
      [<a href="{{ entry.html }}" target="_blank">HTML</a>]
    {% endif %}
    {% if entry.pdf %}
      [<a href="{{ entry.pdf }}" target="_blank">PDF</a>]
    {% endif %}
    {% if entry.supp %}
      [<a href="{{ entry.supp | prepend: '/assets/pdf/papers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>]
    {% endif %}
    {% if entry.code %}
      [<a href="{{ entry.code }}" target="_blank">Code</a>]
    {% endif %}
    {% if entry.website %}
      [<a href="{{ entry.website }}" target="_blank">Website</a>]
    {% endif %}
    {% if entry.poster %}
      [<a href="{{ entry.poster }}" target="_blank">Poster</a>]
    {% endif %}
    {% if entry.abstract %}
      [<a href="{{ entry.abstract }}" target="_blank">Abstract</a>]
    {% endif %}
    {% if entry.slides %}
      [<a href="{{ entry.slides | prepend: '/assets/pdf/papers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Slides</a>]
    {% endif %}
    {% if entry.slideshare %}
      [<a href="{{ entry.slideshare }}" target="_blank">Slides</a>]
    {% endif %}
</span>
</li>
{% endfor %}
</ul>