<ul class='sd-seminar-notes'>
  {% for entry in include.talks %}
    {% if entry.status == 'WIP' %}
      {% assign sclass = 'class="sd-wip"' %}
    {% else %}
      {% assign sclass = '' %}
    {% endif %}
    <li {{ sclass }}>
<span class="title">
    {{ entry.title }}
</span>
<span class="links">
  {% if entry.notes %}
    [<a href="{{ entry.notes | prepend: '/assets/pdf/seminar_notes/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">notes</a>]
  {% endif %}
</span>
<div class="author">
  {% if entry.presenters %}
    {{ entry.presenters }}
  {% endif %}
  ({{ entry.date | date: '%B %-d, %Y' }})
</div>
{% if entry.paper %}
    <div class="paper">
        {{ entry.paper }}
    </div>
{% endif %}
<div class="links">
    {% if entry.arxiv %}
      [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
    {% endif %}

    {% if entry.html %}
      [<a href="{{ entry.html }}" target="_blank">HTML</a>]
    {% endif %}
    {% if entry.pdf %}
      [<a href="{{ entry.pdf }}" target="_blank">PDF</a>]
    {% endif %}
    {% if entry.supp %}
      [<a href="{{ entry.supp | prepend: '/assets/pdf/seminar_notes/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>]
    {% endif %}
    {% if entry.code %}
      [<a href="{{ entry.code }}" target="_blank">code</a>]
    {% endif %}
    {% if entry.website %}
      [<a href="{{ entry.website }}" target="_blank">website</a>]
    {% endif %}
    {% if entry.poster %}
      [<a href="{{ entry.poster }}" target="_blank">poster</a>]
    {% endif %}
    {% if entry.abstract %}
      [<a href="{{ entry.abstract }}" target="_blank">abstract</a>]
    {% endif %}
    {% if entry.slides %}
      [<a href="{{ entry.slides | prepend: '/assets/pdf/seminar_notes/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">slides</a>]
    {% endif %}
    {% if entry.slideshare %}
      [<a href="{{ entry.slideshare }}" target="_blank">slides</a>]
    {% endif %}
</div>
</li>
{% endfor %}
</ul>