.sd-hidden {
    display: none;
    background-color: #f3f3f3;
    border-radius: 14.5px;
    padding: 6px 25px 4px 20px;
    margin: 6px 0px 10px 0px
  }

.hide-heading {
    text-decoration: none;
    color: #fff;
    background-color: #b3d7e2;
    border-radius: 2px;
    padding: 0px 4px;
}

.hide-heading:hover {
    text-decoration: none;
    color: #fff;
    background-color: #a1cddb;
}
/*
.wrap-hidden {
  padding: 5px;
  margin: 5px;
}
*/

/*
e06800
f9e1cc
e06800
**/